<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

<nav>

<a href="/">Home</a> |

{% if user.is_authenticated %}

    <span>Logged in as {{user.username}}</span>|
    <span><a href="/accounts/logout/">Log out</a></span>|
    <span><a href="/profile/{{user.pk}}/">Profile</a></span>|
    <span><a href="/library/{{user.pk}}/">Library</a></span>

{% else %}

<a href="/accounts/login">Log in</a> | <a href="/accounts/register">Register</a>

{% endif %}
</nav>
{% block content %}

{% endblock %}
</body>
</html>