<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href={% static "bootstrap.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "base.css" %}>

</head>
<body>
<div class="container">

<nav>

<a href="/">Home</a> |

{% if user.is_authenticated %}

    <span>Logged in as {{user.username}}</span>|
    <span><a href="/accounts/logout/">Log out</a></span>|
    <span><a href="/accounts/profile/">Profile</a></span>|
    <span><a href="/images/library/">Library</a></span>

{% else %}

<a href="/accounts/login">Log in</a> | <a href="/accounts/register">Register</a>

{% endif %}
</nav>
{% block content %}

{% endblock %}
</div>
</body>
</html>
