{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
    {{user.username}}'s Library
{% endblock %}

{% block content %}

    <h4>{{user.username}}'s Library</h4>

    <section class="albums">
        <h3>Albums</h3>
        {% for album in user.albums.all %}
            <article class="album-info">
                <p class="album-title">{{album.title}}</p>

                <!-- Need to set default image if no cover specified -->

                {% thumbnail album.cover.img_file "200" as img_file %}
                    <a href="/images/album/{{album.pk}}">
                        <img src="{{img_file.url}}">
                    </a>
                {% endthumbnail %}
            </article>
        {% endfor %}
    </section>
    <section class="photos">
        <h3>Photos</h3>
        <div class="container">
  <div class="row">
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    
        {% for photo in user.photos.all %}
        <div class="col-sm-3">
            <article class="photo-info">
                <p class="photo-title">{{photo.title}}</p>
                {% thumbnail photo.img_file "200" as file %}
                    <a href="/images/photo/{{photo.pk}}">
                        <img src="{{file.url}}">
                    </a>
                    {% empty %}
                    <h2>BOOM</h2>
                {% endthumbnail %}
            </article>
            </div>
        {% endfor %}
        </div>
        </div>

    </section>
    
{% endblock %}
