{% extends "base.html" %}

{% block title %}
  {{user.username}}'s Profile
{% endblock %}

{% block content %}

  <h3>{{user.username}}'s Profile</h3>

  <p><a href="/profile/edit">Edit</a></p>

  <p>First Name: {{user.first_name}}</p>

  <p>Last Name: {{user.last_name}}</p>

  <p>Location: {{user.profile.location}}</p>

  <p>Camera: {{user.profile.camera}}</p>

  <p>Favorite Style: {{user.profile.fav_photo}}</p>

  <p>You have {{user.profile.friends.count}} friends.</p>

  <p>You have {{user.albums.count}} albums and {{user.photos.count}} photos.</p>

{% endblock %}